#image {
    background-image: url("assets/nyc.jpg");
}

.home {
    position: relative;
    text-align: center;
    color: black;
}

#about {
    padding-top: 300px;
}

#profile {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.container-fluid {
    padding-top: 370px;
    padding-bottom: 370px;
}

.container-footer {
    padding: 20px;
}