#image {
    background-image: url("assets/nyc.jpg");
}

.home {
    position: relative;
    text-align: center;
    color: black;
}

.container-fluid {
    padding-top: 370px;
    padding-bottom: 370px;
}